@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

/*general*/
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
   overflow-y: hidden;
   overflow-x: hidden;
}

body {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
  
background-color: #ECFDF5;
}
/*fonts*/
.title
{
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
}
.subtext
{
   font-family: "Comic Relief", system-ui;
    font-weight: 700;
}
/*toasts*/
@font-face {
   font-family: "Comic Relief", system-ui;
}

.font-comic {
  font-family: "Comic Relief", system-ui;
}

@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes toast-exit {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}





/* Webkit Scrollbars */
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0fdfa; /* emerald-50 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #778e7c; /* emerald-950 */
  border-radius: 4px;
  border: 1px solid #f0fdfa;
}

::-webkit-scrollbar-thumb:hover {
  background: #576a5b; /* emerald-900 */
}

::-webkit-scrollbar-corner {
  background: #f0fdfa;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}



@layer utilities {
  .animate-modal-in {
    animation: modal-in 0.25s ease-out forwards;
  }

  .animate-modal-out {
    animation: modal-out 0.2s ease-in forwards;
  }

  @keyframes modal-in {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(8px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes modal-out {
    from {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    to {
      opacity: 0;
      transform: scale(0.95) translateY(8px);
    }
  }
}
