# Ignore all .env files
*.env
*.env.*

# Ignore all node_modules folders recursively
node_modules/
**/node_modules/
node_modules/
*.env
*.env.*
dist/
build/
.next/
out/
.turbo/
coverage/


# Ignore all Dockerfiles anywhere
