.shiny-text2 {
    font-family: "Freckle Face", system-ui;
    font-size: 70px;
  color: rgba(255, 48, 48, 0.7); /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
   rgb(255, 0, 0) 40%,
    #ffffff,
   rgb(255, 0, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}
.shiny-text {
    font-family: "Freckle Face", system-ui;
    font-size: 50px;
  color: rgba(255, 255, 255, 0.7); /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
   rgb(0, 255, 81) 40%,
    #9cd5ac,
   rgba(188, 171, 177, 1) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
.Story
{
  color:  white
}